*{
	margin: 0;
	padding: 0;
	font-family: verdana;
}

html {
  scroll-behavior: smooth;
}

#main{
	width: 100%;
	background-size: cover;
	
	

}
body  {
  background-image: url("job.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}


nav{
	width: 100%;
	height: 70px;
	background-color: #000;
	opacity:0.8;	
	line-height: 60px;
	position:fixed;
	top: 0px;
	z-index: 999;
	
}



::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px black; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#494949; 
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#4D4D4D; 
}



#myBtn2 {
  
  position: fixed;
  bottom: 200px; 
  right: 540px; 
  z-index: 99; 
  width: 30%;
  height: 20%;
  border: none;
  outline: none;
  background-color:#696969;
  color:darkgray; 
  cursor: pointer;
  padding: 15px; 
  opacity: 0.7;
  border-radius: 50px;
  font-size: 18px; 
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  
}

#myBtn2:hover {
  background-color: #212121; 
  border: 4px groove #086DEC;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#myBtn1 {
  
  position: fixed;
  bottom: 580px; 
  right: 20px; 
  z-index: 99; 
  border: none;
  outline: none;
  background-color:#414141;
  color:darkgray; 
  cursor: pointer;
  padding: 15px; 
  opacity: 0.9;
  border-radius: 10px;
  font-size: 18px; 
  text-decoration: none;

  
}

#myBtn1:hover {
  background-color:aliceblue ; 
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px thin #0F94C8;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color:aliceblue;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=text], .form-container input[type=text], .form-container input[type=text] {
  width: 92%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=text]:focus, .form-container input[type=text]:focus, .form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


/*overlay*/
#overlay {
  position: fixed;
  display: none;
  width: 30%;
  height: 87%;
  top: 80px;
  left: 1066px;
  right: 30px;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);	
  z-index: 2;
  cursor: pointer;
}

#text1{
  position: absolute;
  top: 5%;
  left: 7%;
  font-size: 45px;
  color:#A7A7A7;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  
}
